@font-face {
    font-family: verdana; /* Гарнитура шрифта */
    src: url(../../fonts/verdana.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: verdanaBold; /* Гарнитура шрифта */
    src: url(../../fonts/verdanab.ttf); /* Путь к файлу со шрифтом */
}

::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 5px;
  height: 0px; 
}

::-webkit-scrollbar-track {
  background-color: #fff; 
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 2px;
  background-color: #D6D6D6; 
}

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px; 
}

::-webkit-scrollbar {
  width: 5px; 
}

* {
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2em;
}

.fa {
    position: relative;
    display: table-cell;
    width: 60px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    padding: 10px 0;
}


.main-menu:hover,nav.main-menu.expanded {
    width:200px;
    overflow:visible;
}

.main-menu {
    background: #fff;
    border-right: 2px solid grey;
    position: fixed;
    top: 56px;
    bottom: 0;
    height: 95.5%;
    left: 0;
    width: 40px;
    overflow: hidden;
    -webkit-transition: width .05s linear;
    transition:width .05s linear;
    -webkit-transform:translateZ(0) scale(1,1);
    z-index: 1000;
    
    img {
        width: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.main-menu > ul {
    margin: 10px 0;
}

.main-menu li {
    position: relative;
    display: block;
    width: 200px;
}

.main-menu li > a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #8D8D8D;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1,1);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

.main-menu .nav-icon {
    position: relative;
    display: table-cell;
    width: 80px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align:middle;
    width: 230px;
    font-family: 'Titillium Web', sans-serif;
}

.main-menu > ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color: #007DC4;
background-color: #E9E9E9;
}

.area {
    background: #fff;
    width: 100%;
    height: 100%;
}

.header {
    height: 55px;
    width: 100%;
    background: #E9E9E9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    z-index: 5;
    
    .logo {
        img {
            max-width: 155px;
        }
    }
    
    .user {
        ul {
            list-style: none;
            text-align: right;
        }
    }
}

.service {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    h2 {
        width: 100%;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        text-align: center;
    }
}

.table_service {
    width: 750px;
    height: 530px; 
    box-shadow: 0px 1px 4px #8D8D8D;
    border-radius: 3px;
    margin: 10px;
    
    &:hover {
        box-shadow: 0px 1px 14px #8D8D8D;
    }
    
    .service_title {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        height: 45px;
        align-items: center;
        border-bottom: 1px solid #BDBDBD;
        
        .service_title-logo {
            display: flex;
            align-items: center;
            
            img {
                float: left;
                padding-right: 15px;
                width: 35px;
                height: auto;
            }
            
            h3 {
                display: table-cell;
                font-style: normal;
                font-weight: normal;
            }
        }
        
        .service_title-link {
            a {
                text-decoration: none;
                color: #007DC4;
                font-weight: bold;
                font-size: 14px;
                
                img {
                    margin-bottom: -1px;
                    padding-left: 10px;
                }
            }
        }
    }
    
    .service_subtitle {
        height: 40px;
        border-bottom: 1px solid #BDBDBD;
        display: flex;
        align-items: center;
        padding: 0 10px;
        
        a {
            color: #8D8D8D;
            text-decoration: none;
            margin-right: 30px;
        }
        
        .active {
            color: #007DC4;
            border-bottom: 2px solid #007DC4;
        }
    }
    
    .order_table {
        border-spacing: 0;
        width: 100%;
        font-size: 12px;
        text-align: center;
        
        thead {
            display: block;
            text-align: center;
        }
    

        tbody {
            display: block;
            height: 400px;
            overflow-y: auto;
            overflow-x: hidden;
            border-bottom: 1px solid #BDBDBD;
        }

        td, th {
            height: 40px;
            border-bottom: 1px solid #C8C8C8;

        }

        tr:hover {
            box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);
        }

        .status {
            width: 8px;
        }

        .number {
            width: 50px;
        }
        .date {
            width: 120px;
        }

        .date_row {
            width: 120px;
            color: #007DC4;
        }

        .mark {
            width: 140px;
        }

        .mark_row {
            width: 140px;
            color: #007DC4;

            a {
                color: #007DC4;
                text-decoration: none;
            }
        }

        .fbord {
            width: 95px;
        }
        .fbconf,
        .fbwait,
        .fbnon {
            width: 85px;
        }

        .fbnon_row {
            width: 85px;
            color: #C50000;
        }


        .track {
            width: 100px;
        }

        .not_sent {
            width: 100%;
            height: 100%;
            background-color: #727272;
        }

        .sent {
            width: 100%;
            height: 100%;
            background-color: #007DC4;
        }

        .accepted {
            width: 100%;
            height: 100%;
            background-color: #E66508;
        }

        .done {
            width: 100%;
            height: 100%;
            background-color: #217E01; 
        }


        .dscr_row {
            display: block;
            color: #8D8D8D;
            font-size: 10px;
        }
    }
    
    .note {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 11px 10px;
        font-size: 12px;

        img {
            margin-bottom: -5px;
            padding-right: 10px;
        }

        div {
            margin-right: 30px;
        }
    }
    
    .online_table {
        border-spacing: 0;
        width: 100%;
        font-size: 12px;
        text-align: center;
        
        a {
            text-decoration: none;
            color: #007DC4;
        }
        
        thead {
            display: block;
            text-align: center;
        }
    

        tbody {
            display: block;
            height: 360px;
            overflow-y: auto;
            overflow-x: hidden;
            border-bottom: 1px solid #BDBDBD;
        }

        td, th {
            height: 40px;
            border-bottom: 1px solid #C8C8C8;

        }

        tr:hover {
            box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);
        }
        
        .update {
            width: 150px;
            
            .time {
                font-weight: bold;
            }
        }
        
        .country {
            width: 100px;
        }
        
        .cart_plant {
            width: 40px;
            
            img {
                margin-bottom: -5px;
            }
        }
        
        .plant {
            width: 250px;
            text-align: left;
            
            .stop_plant {
                text-decoration-line: line-through;
                color: #C50000;
            }
            
            .dscr_plant {
                font-size: 11px;
                color: #9F9F9F;
            }
        }
        
        .status_plant {
            width: 50px;
            text-align: left;
            
            img:first-child {
                margin-right: 5px;
            }
        }
        
        .fb {
            width: 70px;
        }
        
        .type_box {
            width: 90px;
        }
    }
    
    .doc_table {
        border-spacing: 0;
        width: 100%;
        font-size: 12px;
        text-align: center;
        
        a {
            text-decoration: none;
            color: #007DC4;
        }
        
        thead {
            display: block;
            text-align: center;
        }
    

        tbody {
            display: block;
            height: 400px;
            overflow-y: auto;
            overflow-x: hidden;
            border-bottom: 1px solid #BDBDBD;
        }

        td, th {
            height: 40px;
            border-bottom: 1px solid #C8C8C8;

        }

        tr:hover {
            box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);
        }
        
        .number_count {
            width: 30px;
        }
        
        .date_invoice {
            width: 200px;
            text-align: left
        }
        
        .mark {
            width: 180px;
            text-align: left
        }
        
        .number_invoice {
            width: 220px;
            text-align: left
        }
        .file {
            width: 120px
        }
        
        .dscr {
            color: #9F9F9F;
        }
    }
}