@media only screen and (max-width: 724px) {
    .dashboard_left-user .user_icon {
        width: 50px;
        height: 50px;
        padding-top: 6%;
    }
    
    .dashboard_left-user .user_info {
        font-size: 12px;
        display: inline-block;
    }
    .dashboard_left-user .user_info .user_balance {
        margin-top: 20px;
    }
    .dashboard_left-user .user_btn {
        font-size: 12px;
    }
    .dashboard {
        grid-template-columns: 120px 1fr;
    }
    
    #open-left {
        margin-bottom: 30px;
    }
}


@media only screen and (max-width: 682px)  {
    .dashboard_main .service_open_item .desc {
        width: 150px;
    }
    .dashboard_main .service_open_item {
        width: 220px;
        margin-right: 5px;
    }
}

@media only screen and (max-width: 650px) {
    .dashboard_main .service_open_item .desc {
        width: 200px;
    }
    
    .dashboard_main .service_open_item {
        width: 260px;
        margin-right: 5px;
    }
    
    .dashboard_main .service_open_item p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 540px) {
    .dashboard_header .logo img {
        width: 100px;
    }
    .dashboard_header .online_tp a {
        font-size: 12px;
    }

}

@media only screen and (max-width: 478px) {
    .dashboard_main .service_open_item p {
        display: none;
    }
    
    .dashboard_main .service_open_item .desc_other {
        display: none;
    }

    
    .dashboard_main .service_open_item {
        width: 100%;
        text-align: center;
    }
    
    .dashboard_main .service_open_item .item_img img {
        margin: 0 auto;
    }
    
    .dashboard_main .service_open {
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }
    
    .dashboard_main .service_open_item .item_img {
        float: none;
        margin-right: 0;
        height: 80px;
    }
    
    .dashboard_main .service_open_item h5 {
        align-items: center;
        width: 100%;
    }
    
    .dashboard_main .service_open_item .desc {
        width: 100%;
        height: 30px;
    }
}


@media only screen and (max-width: 470px) {
    
    .dashboard_left-user .user_icon {
        padding-top: 11%;
        width: 30px;
        height: 30px;
        font-size: 16px;
        padding-top: 6%;
    }
        
    .dashboard {
        grid-template-columns: 80px 1fr;
        grid-template-rows: 50px calc(100% - 50px);
    }
    
    .dashboard_left-user .user_info {
        padding: 5px 10px;
        font-size: 8px;
    }
    
    .dashboard_left-user .user_info .user_date {
        font-size: 8px;
    }
    
    .dashboard_main {
        padding: 20px 10px;
    }
    
    .burger_menu a {
        font-size: 12px;
    }
    
    .dashboard_left-user .user_btn {
        font-size: 10px;
        bottom: -30px;
    }
    
    .snap-drawer {
        background: #414141;
        width: 200px;
    }
}
    