@media only screen and (max-height: 700px) {
    .main-menu > ul.logout {
        position: relative;
        margin-bottom: 30px;
        margin-top: 30px;
    }
}


@media only screen and (max-width: 1330px) {
    .big_title {
        display: none;
    } 
    .order_title-bayfb .light_title, 
    .order_title-confirmed .light_title, 
    .order_title-wait .light_title, 
    .order_title-lacks .light_title {
        display: block;
    }
}

@media only screen and (max-width: 1190px) {
    .order_item {
        height: 40px;
    }
    
    .order_item-status .not_send,
    .order_item-status .send,
    .order_item-status .accepted,
    .order_item-status .done {
        height: 38px;
    }
    
    .order_item-id {
        min-width: 110px;
    }
    
    .order_title-id {
        width: 95px;
    }
    
    .order_item-mark,
    .order_title-mark {
        width: 11%;
    }
    
    .order_title-mark {
        width: 10%;
    }
    
    .order_item-bayfb,
    .order_item-confirmed,
    .order_item-wait,
    .order_item-lacks {
        min-width: 108px;
    }
    
    .order_item-bayfb
    
    
    .order_item-status,
    .order_title-status {
        width: 5px;
    }
    
    .order_item-bayfb .pso,
    .order_item-confirmed .pso,
    .order_item-wait .pso,
    .order_item-lacks .pso {
        font-size: 11px;
    }
    
    .order_item-id .subtitle {
        font-size: 11px;
    }

}

@media only screen and (max-width: 960px) {
    .main-menu {
        display: none;
    }
    .order {
        padding-left: 0;
    }
    
    .header .log_out-mobile  {
        display: block;
        position: absolute;
        right: 30px;
        bottom: 10px;
    }
    
    .user {
        margin-left: -15px;
    }
    
    .user ul li{
        text-align: left;
    }
    
    .header {
        justify-content: flex-start;
    }
    
    #open-left {
        display: block;
    }
}

@media only screen and (min-width: 960px) {
    #content {
        transform: none!important;
    }    
}

@media only screen and (max-width: 893px) {
    .header {
        height: 35px;
    }
    
    .main-menu { 
        top: 35px;
    }
    
    .header .logo img { 
        width: 100px;
    }
    
    .header .user { 
        font-size: 12px;
        line-height: 12px;
    }
    
    .order_filter {
        font-size: 12px;
    }
    
    .order_item {
        font-size: 12px;
    }
    
    .order_title {
        font-size: 12px;
    }
    
    .header .log_out-mobile {
        font-size: 12px;
        bottom: 0;
    }
    
    .header .log_out-mobile img {
        width: 15px;
    }
}

@media only screen and (max-width: 820px) {
    .order {
        margin-top: 50px;
    }
    
    .order_new {
        display: none;
    }
    
    .order_new-mobile {
        display: block;
    }
    
    .order .order_items {
        height: 80vh;
    }
    
    footer {
        display: flex;
    }
    
    .mark_order {
        margin-bottom: 10px;
    }

}

@media only screen and (max-width: 768px) {
    .order {
        width: 100%;
    }
    
    .order_item:hover {
        box-shadow: none;
    }
    
    .order h1 {
        padding-left: 16px;
    }
    
    .mark_order {
        padding-left: 16px;
    }
    
    .order_title-mobile {
        display: flex;
    }
    
    .order_title-mobile {
        padding: 0 16px;
    }
    
    .order_title {
        display: none;
    }
    
    .type_order {
        display: none;
    }
    
    .order_item-menu {
        display: none!important;
    }
    
    .order .order_items {
        height: 78vh;
    }
    
    .order_item {
        position: none;
        height: 85px;
        padding: 7px 0;
        font-size: 14px;
    }
    
    .order_item-status,
    .order_item-id,
    .order_item-date,
    .order_item-mark,
    .order_item-bayfb,
    .order_item-confirmed,
    .order_item-wait,
    .order_item-lacks,
    .order_item-track {
        display: none;
    }
    
    .order_new-mobile {
        right: 20px;
    }
    
    .order_item_mobile {
        display: flex;
    }
}

@media only screen and (max-width: 625px) {
    .mobile_bay-fb {
        width: 100%;
    }
    
    .order_item {
        height: 95px;
    }
    .order_item_mobile-main-fb span {
        display: block;
        margin-top: -6px;
        font-size: 10px;
    }
    
    .order_item_mobile-main-fb .fb {
        margin-top: -3px;
    }
    
    .order_item_mobile-main-fb .not_fb {
        margin-top: -3px;
        
    }
    
    .order_item_mobile-main-fb p {
        width: 100px;
    }
    
    .mobile_bay-fb:last-child {
        width: 50px;
    }

}

@media only screen and (max-width: 481px) {
    .order_item_mobile {
        margin: 0 10px;
    }
    
    .order_item_mobile-main-fb span {
        font-size: 8px;
    }
    
    .order_item_mobile-main-fb p {
        width: 100%;
    }
    
    .order_new-mobile {
        bottom: 7%;
        right: 5px;
    }
    
    
}








